
:root{
    --primary-color:  hsl(202, 86%, 45%);
    --primary-color-darker: #333

}
* {
    box-sizing: border-box;
    outline: 0;

}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.conteiner{
    max-width: 640px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 30px;
    padding: 0 20px;

}

form input:focus {
    outline: 2px solid var(--primary-color);
}

form button{
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    font-size: 15px;
    font-weight: 70;
    height: 40px;
    cursor:pointer
}
form button:hover{
    background: var(--primary-color-darker);

}
form button:active{
    background: var(--primary-color-darker);
}
.paragrafo-resultado{
    background-color: rgb(109, 255, 182);
    padding: 10px 20px;
}
.bad-result{
    background-color: rgb(255, 109, 109);
    padding: 10px 20px;
}
.calculadora{
    width: 400px;
    background-color: darkslategrey;
}
.display{
    font-size: 2em;
    width: 100%;
    text-align: right;
}
.btn{
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
}
.btn:hover{
    background-color: #bbbbbb;
}